spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/marketplacebook
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    baseline-on-migrate: true
  jackson:
    default-property-inclusion: non_null